html {
  font-size: 62.5%;
}
body {
  background: url('../assets/imgs/bg.jpg') no-repeat center;
  background-size: cover;
  background-position: fixed;
  overflow: hidden;

}
textarea:focus {
  outline: 0;
  resize: none;
}
.is-visible {
  visibility: visible !important;
  opacity: 1 !important;
}
@keyframes letterEntrance {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.puff-in-center {
	animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation-delay: 0.5s;
}
@keyframes puff-in-center {
  0% {
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
