.home {
  background: $blueDeep;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &_titleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_img {
      height: 100px;
      width: auto;
    }
    &_title {
      color: #fff;
      font-size: $xBig;
      font-family: $Rlw-xLgh;
      margin-top: 50px;
      animation: letterEntrance 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      animation-delay: 0.5s;
    }
  }
  &_arrowBox {
    cursor: pointer;
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    &:hover > .home_arrowBox_text {
      letter-spacing: 2;
    }
    &:hover > .home_arrowBox_img {
      transform: translate(-50%, 0) rotate(90deg) scale(1, -1);
    }
    &_text {
      color: #fff;
      width: 100%;
      font-family: $Rlw-Lgh;
      font-size: $xReg;
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%, 0);
      transition: all 0.2s;
      &_span {
        color: $red;
      }
    }
    &_img {
      position: absolute;
      bottom: 2.5rem;
      left: 53%;
      transform:
      translate(-50%, 0)
      rotate(90deg)
      scale(1, 1);
      transition: all 0.2s;
    }
  }
  &_dev {
    color: #fff;
    font-size: $xReg;
    font-family: $Rlw-Reg;
    text-decoration: none;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
    transition: all 0.2s;
  }
}
