.projectPage {
  background: $blueDeep;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  position: absolute;
  top: 100vh;
  left: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    &_img {
      height: 30px;
      width: auto;
    }
    &_crossBox {
      width: 25px;
      height: 22px;
      position: relative;
      cursor: pointer;
      &_cross {
        background: #fff;
        width: 1px;
        height: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        &:nth-child(1) {
          transform: translate(-50%,-50%) rotate(45deg);

        }
        &:nth-child(2) {
          transform: translate(-50%,-50%) rotate(-45deg);
        }
      }
    }
  }
  &_wallpaper {
    height: 300px;
    overflow: hidden;
    position: relative;
    background: url('../assets/imgs/intro_bg.jpg') no-repeat center;
    background-size: cover;
    &_title {
      color: $light;
      font-size: $tooBig;
      font-family: $Rlw-xLgh;
      position: absolute;
      bottom: -10.5px;
      padding-left: 30px;
    }
  }
  &_desc {
    background: $light;
    padding: 40px;
    font-size: $xReg;
    font-family: $Rlw-Reg;
    line-height: 1.2;
  }
  &_contentBox {
    &_openable {
      background: $blueDeep;
      color: #fff;
      font-size: $Big;
      font-family: $Rlw-sBld;
      padding: 10px 40px;
      &_arrow {
        height: 20px;
        width: auto;
      }
    }
    &_content {
      background: $light;
      color: #000;
      font-size: $Reg;
      font-family: $Rlw-Reg;
      line-height: 1.5;
      padding: 25px 50px;
    }
  }

}
