.projects {
  background: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 100vh;
  left: 100%;
  &_title {
    color: #000;
    font-size: $Big;
    font-family: $Rlw-Bld;
    padding: 25px 0 0 25px;
    position: relative;
    &_span {
      color: $red;
    }
    &:after {
      content:'';
      width: 3px;
      height: 50%;
      background: #000;
      position: absolute;
      bottom: 0;
      margin-left: 5px;
      animation: tilt infinite 1s;
    }
  }
  &_projectsBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
    &_article {
      width: 48%;
      height: 300px;
      background: url('../assets/imgs/intro_bg.jpg') no-repeat center;
      background-size: cover;
      display: flex;
      align-items: flex-end;
      position: relative;
      overflow: hidden;
      text-decoration: none;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $red;
        transform: scale(0);
        opacity: 1;
      }
      &:hover:before {
        transform: scale(1);
        opacity: 0;
        transition: all 0.7s ease-out;
      }

      &_title {
        color: #fff;
        font-family: $Rlw-sBld;
        font-size: $xBig;
        padding: 10px;
      }
    }
  }
  &_nav {
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    position: relative;
    width: 300px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    &:before {
      content:'You can check all';
      color: #fff;
      position: relative;
      font-size: $Reg;
      font-family: $Rlw-sBld;
      right: -80px;
      top: 15px;
      transform: scale(0);
      transition: all 0.5s
    }
    &:after {
      content:'my other projects';
      color: #fff;
      position: relative;
      font-size: $Reg;
      font-family: $Rlw-sBld;
      left: -80px;
      top: 15px;
      transform: scale(0);
      transition: all 0.5s
    }
    &:hover:before {
      color: #000;
      transform: scale(1);
      transform-origin: top right;
      right: 10px;
    }
    &:hover:after {
      color: #000;
      transform: scale(1);
      transform-origin: top left;
      left: 10px;
    }
    &_img {
      height: 50px;
      width: auto;
      margin-bottom: 25px;
      transform: rotate(0);
      transition: all 0.5s;

    }
  }
  &_arrowBox {
    width: 300px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 125px;
    right: -125px;
    transform: rotate(-90deg);
    &:hover > .projects_arrowBox_text {
      letter-spacing: 2;
    }
    &:hover > .projects_arrowBox_img {
      transform: scale(1, -1);
      bottom: 18px;
    }
    &_text {
      color: #000;
      font-family: $Rlw-Lgh;
      font-size: $xReg;
      position: absolute;
      bottom: 14px;
      right: 100px;
      transition: all 0.2s;

      &_span {
        color: $red;
      }
    }
    &_img {
      position: absolute;
      bottom: 19px;
      right: 19px;
      transform: scale(1, 1);
      transition: all 0.2s;
    }
  }
}
@keyframes tilt {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
